*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color:indigo;
}
.nav-h2{
    padding:20px;
    background-color:darkblue;
    color:white;
    font-family: sans-serif;
    text-align: center;
    font-size:32px;
    position:sticky;
    top:0;
    right:0;
    left:0;
}
h3{
    color: darkgreen;
    margin-bottom: 10px;
}
.box1{
    width:50%;
    margin:20px auto;
    background-color: white;
    padding:30px;
    border-radius: 4px;
}
.box2{
    width:50%;
    margin:20px auto;
    background-color:white;
    padding:30px;
    border-radius: 4px;
}
.box3{
    width:50%;
    margin:20px auto;
    background-color: white;
    padding:30px;
    border-radius: 4px;
}
.box4{
    width:50%;
    margin:20px auto;
    background-color: white;
    padding:30px;
    border-radius: 4px;
}
.btn{
    margin-top: 20px;
    padding:12px 32px;
    color:white;
    border-radius: 6px;
    font-size: 12px;
    background-color:blue;
    border:none;
    cursor:pointer;
    transition: all 0.5s;
}
.btn a{
    text-decoration: none;
    color: white;
}
.btn:hover{
    background-color: aqua;
    color: black;
}
footer{
    margin-top:50px;
    background-color: darkblue;
    padding:20px;
    text-align:center;
}